<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            Blog
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
        <link rel='stylesheet' href="{%static 'css/blog.css'%}">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Oswald|Playfair+Display&display=swap" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light proffont" style="background-color: #e3f2fd;">
            <div class="container">
                <div class="navbar-nav align-items-center">
                <a class= "navbar-brand  bigbrand" href="{%url 'post_list' %}">The Blog</a>
                <a class="nav-item nav-link " href="{% url 'about' %}">About</a>
                <a class="nav-item nav-link " href="https://www.github.com/priyanshisharma">Github</a>
                <a class="nav-item nav-link " href="https://www.linkedin.com/in/priyanshi-sharma-181b6b85">LinkedIn</a>
                <a class="nav-item nav-link " href="https://www.kaggle.com/priyanshi417">Kaggle</a>
                <a class="nav-item nav-link " href="https://google.qwiklabs.com/public_profiles/d9111fa9-0706-466a-8a5e-631f3e8071a6">Google Qwiklabs</a>
                </div>
                <div class="navbar-nav align-items-center ml-auto">
                    {% if user.is_authenticated %}
                      <a class="nav-item nav-link " href="{% url 'post_new' %}">New Post</a>
                      <a class="nav-item nav-link " href="{% url 'post_draft_list' %}">Drafts</a>
                      <a class="nav-item nav-link " href="{% url 'logout' %}">Log out</a>
                      <a >Welcome: {{ user.username }}</a>
                    {% else %}
                      <a class="nav-item nav-link " href="{% url 'login' %}" aria-label="Login">
                        <span class="fa fa-user" aria-hidden="true"></span>LOGIN</a>
                    {% endif %}
                  </div>
                
            </div>
        </nav>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                  <div class="blog_posts">
                    {% block content %}
                    {% endblock %}

                  </div>
                </div>
            </div>
        </div>
    </body>
</html>
